body{
    margin:0px;
    background-image: url(logo2.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 20px;
    background-position-y: 80px;
}
main {
    margin-left: 400px;
}
main h1{

    font-size: 60px;
}
main p{
    font-size: 25px;
}
main p a{
    text-decoration: none;
    color: #80aafc;
}
.form{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.formbox{
    width: 750px;
    height: 40px;
}
table{
    margin-top: 25px;
}
.space{
    width: 300px;
}
li{
    list-style: none;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 11px;  
    background-position-y: center;     
}
ul{
    list-style: none;
    margin: 0px;
    padding-left: 16px;
}
.sign{
    display: inline-block;
    margin-top: 17px;
}

.sign .signButon{
    padding: 20px 40px 20px 40px;
    color: #DDDDDD;
    font-size: 15px;
    background-color: white;
    border: 2px solid #DDDDDD;
}
/*Radiobtn*/
.btn{
    display: none;
}
.btnSpan {
    display: inline-block;
    position: relative;
    top: 21px;
    border: 2px solid #ccc;
    width: 20px;
    height: 20px;
    background: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
.flex{
    display: flex;
    flex-direction: row;
}
.emails{
    display: inline-block;
    margin: 0 0 0 20px;    
}
.spam{
    float: right;
    margin-left: 10px;
    font-size: 20px;
}


.termsOfUse{
    font-size:20px;
}
.termsOfUse a{
    text-decoration: none;
    color: #80aafc;
}
